.App{
    background-image: url(/home/sheikh/Development/front-kutab/public/background-image.jpg);
    background-size: cover;
    height:auto;
  }

 


label {
    cursor: pointer;
    color: rgb(243, 237, 237);
    display: block;
    padding: 0px;
    margin: 0px;
}

h1 {
  display: block;
  font-size: 7em;
  margin-top: 0px;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color:  white;
  font-family: 'Purisa'
}
h4 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: white;
}
h6 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: rgb(3, 3, 3);
  font-family: 'Purisa';
  background: white
}
.welcome {
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: 200px;
  margin-right: 200px;
  backface-visibility:hidden;
  color:black

}

footer {
  position:fixed;
  left: 0;
  bottom: -5;
  width: 100%;
  background-color: rgb(14, 41, 14);
  color: white;
  text-align: center;
}